@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow: scroll;
  overflow-x: hidden;
}

body {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  width: 100%;
  height: auto;
  color: #222;
  background: linear-gradient(to bottom, #9cecfb, #65c7f7, #0052d4);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}

#root {
  width: 100%;
}
.lists {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.list {
  list-style: none;
  text-decoration: none;
}
.home {
  display: flex;
  flex-direction: column;
}

.heading {
  margin-bottom: 2rem;
}

.home_sub-title {
  width: 100rem;
  align-self: center;
  margin-bottom: 4rem;
  font-style: italic;
  font-weight: 500;
  text-indent: 2rem;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  height: 5.4rem;
  border-radius: 9999px;
  padding-inline: 2rem;
  font-size: 2rem;
  border: none;
  outline: none;
  margin-bottom: 5rem;
  position: relative;
}

.search:focus {
  outline: solid 1px hsl(8 99% 67%);
}

.search-img {
  position: absolute;
  top: 12px;
  right: 1px;
}

.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  position: relative;
}

.image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: dotted 1px black;
  border-radius: 15px;
  padding: 1rem;
  background: linear-gradient(to right, #076585, #fff);
}

.name {
  margin-left: 1rem;
  font-weight: 900;
  font-size: 1rem;
  color: hsl(8 99% 67%);
}

.image {
  width: 250px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  max-width: 90%;
  max-height: 90%;
  object-fit: cover;
  border-radius: 20px;
  background-color: white;
  padding: 2rem;
}

.modal-img {
  width: 80rem;
  height: 40rem;
  border-radius: 15px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.modal-stats {
  display: flex;
  gap: 4rem;
}

.modal-stats p {
  display: flex;
  align-items: center;
  gap: 5px;
}

.modal-btn {
  width: 25px;
  height: 25px;

  position: absolute;
  top: 1rem;
  right: 1rem;
  color: hsl(5 50% 20%);
  font-weight: 600;
  font-size: 2rem;
  border-color: hsl(5 50% 20%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  position: absolute;
  top: -11rem;
  left: 27rem;
}

.loader-bottom {
  position: absolute;
  bottom: -7rem;
  left: 50%;
  transform: translateX(-50%);
}

.loader-img {
  width: 10rem;
  height: 7rem;
}
.history-container {
  display: flex;
}
.history-heading {
  margin-bottom: 4rem;
}

.history-list {
  margin-bottom: 4rem;
  border: solid 1px gray;
  border-radius: 20px;
  padding: 2rem;
  background: linear-gradient(to bottom, #076585, #fff);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.history-list li {
  list-style: none;
  padding: 0px 10px;
  color: hsl(8 99% 67%);
  cursor: pointer;
}

.history-list li:hover {
  font-weight: 900;
  transition: all 0.2s ease;
}

.scroll-to-top {
  width: 5rem;
  height: 5rem;
  position: fixed;
  bottom: 5rem;
  right: 3rem;
  border-radius: 20px;
  cursor: pointer;
  z-index: 1;
  background: white;
  border: solid 1px #bbbbbb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-to-top:hover {
  width: 8rem;
  height: 8rem;
  box-shadow: 0px 20px 50px 0px rgba(55, 69, 87, 0.7);
  transition: all 0.2s ease-in;
}

.scroll-to-top img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1050px) {
  .home_sub-title {
    display: none;
  }
}
